@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --neon-blue: #4666ff;
  --non-photo-blue: #9bd1e5;
  --light-cyan: #d1faff;
  --blue-purple: #7171c6;
  --purple: #292851;
  --dim-gray: #686868;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue-purple);
  background-size: auto 100vh;
  font-size: 12px;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 560px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.menu {
  background-color: var(--purple);
  position: fixed;
  top: 0;
  /* z-index: 1; */
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: whitesmoke;
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 15px 20px;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
  width: 33.33vw;
}

.menu a:active,
.menu a:hover {
  background: whitesmoke;
  color: var(--purple);
}

.site-title,
.site-subtitle {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
}

.about .avatar {
  float: right;
  margin: 2em;
}

.about .avatar > img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  .about .avatar {
    display: flex;
    float: none;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 0;
  }

  .about .avatar > img {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 400px) {
  .about .avatar > img {
    height: 100px;
    width: 100px;
  }
}

.about,
.contact,
.projects {
  background-color: var(--non-photo-blue);
  line-height: 1.5em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.about h2,
.contact h2,
.projects h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.5em;
  padding: 15px 20px;
  padding-top: 3em;
  width: 100%;
}

.about p {
  margin-bottom: 1.5em;
  text-align: justify;
  text-indent: 1.5em;
}

.projects .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .projects .grid {
    grid-template-columns: 250px 250px;
  }
}

@media (min-width: 850px) {
  .projects .grid {
    align-content: center;
    grid-template-columns: repeat(3, 250px);
    height: calc(100vh - 5.5em - 48px);
    justify-content: center;
  }
}

.projects figure {
  text-align: center;
}

.contact a,
.projects .grid a {
  color: black;
  text-decoration: none;
}

.contact .icons {
  text-align: center;
}

.contact a {
  font-size: 4em;
  transition: text-shadow 0.2s;
}

.contact a:active,
.contact a:hover {
  text-shadow: 0px 0px 10px rgba(000, 000, 000, 1);
}

.img-projects {
  height: 150px;
  object-fit: fill;
  width: 250px;
}

.grid figure:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

footer {
  padding: 1em;
  text-align: center;
}
