@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --neon-blue: #4666ff;
  --regular-blue: #395db4;
  --light-cyan: #d1faff;
  --blue-purple: #7171c6;
  --purple: #292851;
  --dim-gray: #686868;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue-purple);
  background-size: auto 100vh;
  font-size: 12px;
  height: 100vh;
  color: whitesmoke;
}

body a:visited,
body a {
  text-decoration: none;
  color: whitesmoke;
}

body a:hover {
  text-decoration: underline;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.menu {
  background-color: var(--purple);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: whitesmoke;
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 15px 20px;
  transition: background 1s, color 1s;
  width: 33.33vw;
}

.menu a:active,
.menu a:hover {
  background: whitesmoke;
  color: var(--purple);
}

.avatar > img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  .title .avatar {
    display: flex;
    float: none;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 0;
  }

  .avatar > img {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 300px) {
  .avatar > img {
    height: 100px;
    width: 100px;
  }
}

.title {
  padding: 1em;
}

.site-title,
.site-subtitle {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.site-title {
  font-size: 3em;
}

.site-subtitle {
  font-weight: normal;
  padding-bottom: 0.5em;
}

.title p {
  margin: 1em;
  line-height: 1em;
}

.icons {
  padding: 3em;
}

.icons a {
  font-size: 2.5em;
  transition: text-shadow 0.3s;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.icons a:active,
.icons a:hover {
  text-shadow: 5px 5px 10px rgba(40, 41, 81, 0.5);
  text-decoration: none;
}

.about,
.showcase {
  background-color: var(--regular-blue);
  line-height: 2em;
  min-height: 100vh;
  padding: 1em;
  color: whitesmoke;
  padding-left: 3em;
  padding-right: 3em;
}

.about .container {
  padding-left: 1em;
  padding-right: 1em;
  background-color: violet;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
  }
}

.about h2,
.showcase h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin-bottom: 1.5em;
  padding-top: 2em;
  width: 100%;
}

@media (max-width: 300px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
  }

  .about h2,
  .showcase h2 {
    padding-top: 2em;
  }
}

.about p {
  text-indent: 1.5em;
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.about {
  text-align: start;
}

.showcase .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 600px) {
  .showcase .grid {
    grid-template-columns: 250px 250px;
    justify-content: center;
  }

  .avatar {
    padding-top: 5em;
  }

  .site-title {
    line-height: 1em;
    margin: 0.2em;
  }
}

@media (min-width: 850px) {
  .showcase .grid {
    align-content: center;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
  }
}

.showcase figure {
  text-align: center;
}

.img-grid {
  height: 150px;
  object-fit: fill;
  width: 250px;
  border-radius: 0.5rem;
}

.grid figure:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

footer {
  padding: 1em;
  background-color: var(--purple);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}
