@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --neon-blue: #4666ff;
  --regular-blue: #395db4;
  --light-cyan: #d1faff;
  --blue-purple: #7171c6;
  --purple: #292851;
  --dim-gray: #686868;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue-purple);
  background-size: auto 100vh;
  font-size: 12px;
  height: 100vh;
  color: whitesmoke;
}

body a:visited,
body a {
  text-decoration: none;
  color: whitesmoke;
}

body a:hover {
  text-decoration: underline;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 560px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.menu {
  background-color: var(--purple);
  position: fixed;
  top: 0;
  /* z-index: 1; */
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: whitesmoke;
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 15px 20px;
  /* text-decoration: none; */
  transition: background 1s, color 1s;
  width: 33.33vw;
}

.menu a:active,
.menu a:hover {
  background: whitesmoke;
  color: var(--purple);
}

.avatar > img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  .title .avatar {
    display: flex;
    float: none;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 0;
  }

  .avatar > img {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 400px) {
  .avatar > img {
    height: 100px;
    width: 100px;
  }
}

.site-title,
.site-subtitle {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.site-title {
  font-size: 4em;
  line-height: 1.3em;
}

.site-subtitle {
  /* font-style: italic; */
  font-weight: normal;
}

.title p {
  /* background-color: violet; */
  margin: 1em;
  line-height: 1em;
  /* border: 1px solid black; */
}

.title .avatar {
  /* float: right; */
  /* margin: 2em; */
}

.about,
.contact,
.projects {
  background-color: var(--regular-blue);
  line-height: 1.5em;
  min-height: 100vh;
  padding: 1em;
  /* padding-top: 0; */
  color: whitesmoke;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
  }
}

.about h2,
.contact h2,
.projects h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin-bottom: 1.5em;
  /* padding-top: 2em; */
  width: 100%;
}

@media (max-width: 400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    /* min-width: 400px; */
  }

  .about h2,
  .contact h2,
  .projects h2 {
    padding-top: 2em;
  }
}

.about p {
  /* text-align: start; */
  text-indent: 1.5em;
  margin: 1em;
}

.about {
  text-align: start;
  /* margin-bottom: 1.5em; */
}

.projects .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .projects .grid {
    grid-template-columns: 250px 250px;
  }
}

@media (min-width: 850px) {
  .projects .grid {
    align-content: center;
    grid-template-columns: repeat(3, 250px);
    height: calc(100vh - 5.5em - 48px);
    justify-content: center;
  }
}

.projects figure {
  text-align: center;
}

.contact a,
.projects .grid a {
  color: whitesmoke;
}

.icons {
  /* background-color: violet; */
  padding: 1em;
  /* text-align: center;
  align-content: center;
  padding-bottom: 10em; */
}

.grid a {
  font-size: 2.5em;
  transition: text-shadow 0.2s;
  /* display: inline-flex; */
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.contact a:active,
.contact a:hover {
  text-shadow: 0px 0px 10px rgba(000, 000, 000, 1);
}

.img-projects {
  height: 150px;
  object-fit: fill;
  width: 250px;
}

.grid figure:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

footer {
  padding: 1em;
  background-color: var(--purple);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}
